{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <h1>{{ user.username }}</h1> 

    <div class="container">
        <div class="row text-center text-lg-left">
  
        {% for photo in photos %}
  
          <div class="col-lg-3 col-md-4 col-6">
            Author : {{ photo.author }} <br>
            Decription: {{ photo.description }} <br>
            {{ photo.photo_unsplash_id }}
            <img class="img-fluid img-thumbnail" src="{{ photo.image }}" alt="">
          </div>
          <hr class="mt-2 mb-5"> 
        
        {% endfor %}
  
        </div> 
      </div>

{% endblock content %}
