{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <h1>{{ user.username }}</h1> 

    <div class="container">
        <div class="row text-center text-lg-left">
  
        {% for photo in photos %}
  
          <div class="col-lg-3 col-md-4 col-6">
            Author : {{ photo.author }} <br>
            Decription: {{ photo.description }} <br>
            Photo id: {{ photo.photo_unsplash_id }}
            <img class="img-fluid img-thumbnail" src="{{ photo.image }}" alt="">
            <form action="{% url 'delete_photo' photo.id %}"method='POST'> 
              {% csrf_token %}
              <input type="submit" value="Delete" class="btn btn-danger mt-2">
            </form> 
          </div>
          <hr class="mt-2 mb-5"> 
        
        {% endfor %}
  
        </div> 
      </div>

      {% include '../pagination.html' with page=photos %}
      
{% endblock content %}
