{% extends 'base.html' %}

{% block content %}
    <h1>Photo Detail</h1>
        
    <hr class="mt-2 mb-5"> 

    <div class="container">

        <h5 class="text-left text-lg-left mt-4 mb-0">
          Author : {{ detail_json.user.name }}</h5>
        <h5 class="text-left text-lg-left mt-4 mb-0">
          Date created : {{ detail_json.created_at }}</h5>
        <h5 class="text-left text-lg-left mt-4 mb-0">
          Description : {{ detail_json.description }}</h5>
        <h5 class="text-left text-lg-left mt-4 mb-0">
          Likes : {{ detail_json.likes }}</h5>
      
        <div class="row text-center text-lg-left">
      
          <div class="#">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="{{ detail_json.urls.full }}" alt="">
            </a>
          </div>

        </div>
        <hr class="mt-2 mb-5">  
    </div>

{% endblock content %}
