{% extends 'base.html' %}

{% block content %}
        
    <hr class="mt-2 mb-5"> 

    <div class="container">

        <h5 class="text-left text-lg-left mt-4 mb-0">
          Author : {{ response.user.name }}</h5>
        <h5 class="text-left text-lg-left mt-4 mb-0">
          Date created : {{ response.created_at }}</h5>
        <h5 class="text-left text-lg-left mt-4 mb-0">
          Description : {{ response.description }}</h5>
        <h5 class="text-left text-lg-left mt-4 mb-0">
          Likes : {{ response.likes }}</h5>
        <br>
      
        <div class="row text-center text-lg-left">
      
          <div class="#">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="{{ response.urls.full }}" alt="">
            </a>
          </div>
          {% if user.is_authenticated %}
            {% if messages %}
              <button type="button" class="btn btn-secondary btn-lg">Saved</button>         
            {% else %}
              <form method='POST'> 
                {% csrf_token %}
                <input type="submit" value="Save" class="btn btn-primary btn-lg disabled">
              </form> 
            {% endif %}
          {% else %}
            <h5 class='text muted'>
              Login to save photo
            </h5>
          {% endif %}

        </div>
    </div>

{% endblock content %}
