{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
     
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <form action={% url 'search' %} method='GET'> 
        {{ search_form.as_p }}
        <input type="submit" value="Submit" class="btn btn-outline-success my-2 my-sm-0">
      </form> 
    </div>
  </nav> <br>
  
    <div class="container">
      <div class="row text-center text-lg-left">

      {% for response_item in response %}

        <!-- <div class="col-lg-3 col-md-4 col-6">
          Author : {{ response_item.user.name }}
          <a href="{% url 'detail' response_item.id %}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ response_item.urls.small }}" alt="">
          </a>
        </div>
        <div align='left'>
          <form method='POST'> 
            {% csrf_token %}
            <input type="submit" value="Save!" class="btn btn-secondary btn-lg">
          </form> 
        </div>
        <hr class="mt-2 mb-5">  -->

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-80">
            <a href="{% url 'detail' response_item.id %}">
              <img class="img-fluid img-thumbnail" src="{{ response_item.urls.small }}" alt="">
            </a>
            <div class="card-body">
              <h5 class="card-title">by {{ response_item.user.name }}</h5>
              <!-- <p class="card-text">{{ response_item.description }}</p> -->
            </div>
            <div class="card-footer" align='center'>
              <form method='POST'> 
                {% csrf_token %}
                <input  type="submit" value="Save!" class="btn btn-primary">
              </form> 
            </div>
          </div>
        </div>
      
      {% endfor %}

      </div> 
    </div>

{% endblock content %}
