{% extends 'base.html' %}

{% block content %}
    <h1>Search Results</h1>
    
    
    <hr class="mt-2 mb-5"> 

    <div class="container">
      
      {% for response_item in response.results %}
      
        <h5 class="text-left text-lg-left mt-4 mb-0">
          Author : {{ response_item.user.name }}</h5>
      
        <div class="row text-center text-lg-left">
      
          <div class="col-lg-3 col-md-4 col-6">
            <a href="{% url 'detail' response_item.id %}" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="{{ response_item.urls.small }}" alt="">
                </a>
          </div>

        </div>
        <hr class="mt-2 mb-5">  
      {% endfor %}

    </div>

{% endblock content %}
